<!-- <div class="bwc-page-layout__large app-home">
  <h1 class="bwc-o-title">Card Example</h1>
  <p class="bwc-o-body">Below section showcases the usage of card</p>
  <mat-card bwcCardClickable class="bwc-card-inspirational">
    <bwc-card-background-image pictureUrl="assets/background.jpg"></bwc-card-background-image>
    <mat-card-content>
      <p>{{ content }}</p>
    </mat-card-content>
  </mat-card>

  <mat-radio-button [checked]="checked" [disabled]="disabled" color="primary">
        I'm a Radio Button
      </mat-radio-button>

</div> -->


<h1>avaito component otp</h1>
 <form id="bw-form" [formGroup]="form">
  <bwc-form-section>
    <bwc-form-section-header [initials]="'OT'">One time pin</bwc-form-section-header>
    <div class="flex">
      <div class="flex-input">
        <bwc-form-input-container [isOutlined]="true">
          <span translate-label="">Enter your one-time PIN code</span>
          <ng-container outline-content>
            <bwc-one-time-pin #oneTimePin formControlName="otpData" [isExpired]="false" [length]="5">
              <!-- <mat-error *ngIf="!form.controls.otpData.untouched">
                <bwc-form-errors
                  [control]="form.controls.otpData"
                  (onErrorHide)="onErrorHidden('otpData')"
                  (onErrorShow)="onErrorShown('otpData', $event)"
                >
                  <bwc-form-error [for]="'expired'">The one-time PIN code you have entered has expired</bwc-form-error>
                  <bwc-form-error [for]="'required'">The one-time PIN code you have entered is not complete</bwc-form-error>
                </bwc-form-errors>
              </mat-error> -->
            </bwc-one-time-pin>
          </ng-container>
        </bwc-form-input-container>
      </div>
      <div class="flex-description">
        <pre>
          OTP value: {{ form.get('otpData').value }}
        </pre>
        <pre>
          OTP is valid: {{ form.get('otpData').valid }}
        </pre>
        <pre>
          OTP is dirty: {{ form.get('otpData').dirty }}
        </pre>
        <pre>
          OTP is untouched: {{ form.get('otpData').untouched }}
        </pre>
      </div>
    </div>

    <div>
      <button mat-raised-button color="primary" type="button" (click)="validate(['otpData'])">Validate()</button>
    </div>
  </bwc-form-section>
  </form>



  <h1>Otp component</h1>


  <app-otp></app-otp>
